header{
    position: fixed;
    top: 64px;
    width: 100%;
    z-index: 1;
}

.header_text{
    width: 1000px;
    margin: auto;
}

.navibrock{
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;

}

.navi{
    width: 1000px;
    margin: auto;
}

.title_box{
    margin: auto;
    display: flex;
}

.content{
    width: 1000px;
    margin: auto;
    margin-top: 140px;
}

.search_content{
    width: 100%;
    display: flex;

}

.home_section{
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #555;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.home_section_news{
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    background-image: url(../image/backimg.png);
    background-size: contain;
    color: #555;
    font-size: 18px;
    font-weight: bold;
    /* overflow: scroll; */
    display: block;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.section{
    min-height: 100vh;
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    background-image: url(../image/backimg.png);
    background-size: contain;
    color: #555;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.home_section_news h3{
    width: 400px;
    padding: 30px 0px 10px 0px;
    color: #E74854;
}

.home_section_news h3:hover{
    display: block;
    padding: 30px 0px 10px 0px;
    color: #411d5f;
    text-decoration: underline;
}

.notice{
    background-color:#FFF7C8;
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color:#E74854;
    display: flex;
    justify-content: center;
    align-items: center;
}

.n:hover{
    font-size: 19px;
}

.check + .notice_list{
    display: none;
}

.check:checked + .notice_list {
  width: 100%;
  display:block;
  background-color: #FFF7C8;
  font-size: 12px;
  color:#555;
}
.check{
  display:none;
}

.select{
    display: flex;
    justify-content: center;
    align-items: center;
}

.select_btn{
    padding: 5px;
    margin: 10px;
    border-radius: 3px;
    background-color: #ffffffb4;
    box-shadow: 3px 3px 3px 0 #ddd;
    color: #E74854;
    font-weight: bold;
}

.b{
    color: #555;
}

.select_btn:hover{
    background-color: #ffee8c;
}

.profile{
    height: 200px;
}

.home_section h3{
    padding: 30px 0px 30px 0px;
     color: #E74854;
}

.home_section_p{
    font-size: 16px;
    margin: 30px 0px 30px 0px;
}

.select_data_box{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.select_data{
    margin-left: 35px;
    padding-top: 50px;
    /* height: 200px; */
    /* background-color: lightskyblue; */
    font-size: 12px;
    color: #555;
    display: flex;
    align-items: flex-end;
}

.select_data_img{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    background-color: lightblue;
}

.chat_img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    background-color: lightblue;
}

.footer{
    font-size: 9px;
    background-color: #F3F4F6;
    font-weight: bold;
    text-align: center;
    color: #888;
}

.create_form{
    padding-top: 40px;
    text-align: center;
}

.button{
    background-color: #FFF7C8;
    width: 180px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 0 #ddd;
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    color: #E74854;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover{
    background-color: #ffee8c;
}

.comment{
    margin: auto;
    width: 400px;
    text-align: left;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.user_img{
    padding-left: 50px;
}

.favorite_btn{
    width: 100%;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.like_button{
    background-color: #FFF7C8;
    width: 180px;
    height: 50px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 0 #ddd;
    font-size: 24px;
    font-weight: bold;
    color: #E74854;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like_button:hover{
    background-color: #ffee8c;
}

.group_data{
    margin: 20px;
    width: 200px;
    height: 100px;
    background-color: #dae7fc;
    color: #E74854;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0 #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
}

.select_group{
    margin-left: 35px;
    padding-top: 50px;
    /* height: 200px; */
    /* background-color: lightskyblue; */
    font-size: 18px;
    color: #555;
    text-align: center;
}

.select_group h1{
    font-size: 24px;
    color: #E74854;
    padding-bottom: 20px;

}

.groupname{
    width: 150px;
    overflow: hidden;
}

.username{
    width: 50px;
    overflow: hidden;
}

.chath1{
    padding: 20px;
    color:#555;
    font-size: 18px;
    font-weight: bold;
}

.chath1_red{
    padding: 20px;
    color:#E74854;
    font-size: 18px;
    font-weight: bold;
}

.chatmember{
    width: 200px;
    height: 60vh;
    margin: 10px;
    overflow: scroll;
    color: #555;
    font-size: 12px;
}

.chat_style{
    width: 100%;
    display: flex;
    justify-content: space-around
}

.output{
    height: 60vh;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: scroll;
}

/* スクロールの幅の設定 */
.output::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}
.chatmember::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* スクロールの背景の設定 */
.output::-webkit-scrollbar-track {
background-color: rgba(86, 86, 87, 0.212);
}
.chatmember::-webkit-scrollbar-track {
background-color: rgba(86, 86, 87, 0.212);
}

/* スクロールのつまみ部分の設定 */
.output::-webkit-scrollbar-thumb {
background-color: rgba(81, 80, 82, 0.466);
}
.chatmember::-webkit-scrollbar-thumb {
background-color: rgba(81, 80, 82, 0.466);
}

.output p{
    font-size: 12px;
}

.withdrawal{
    margin-top: 100px;
    font-size: 12px;
}

.home_content{
    background-color: #ffee8c;
    width: 250px;
    height: 180px;
    transform: rotate(-20deg);
    margin: 5px 8px 0 8px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0 rgb(206, 205, 205);
}

.home_content_box{
    display: flex;
    align-items: flex-start
}

.home_box{
    margin-top: 50px;
}

.c1{
    background-image: url(../image/通話.png);
    background-size: cover;
}

.c2{
    background-color:#fcd7d7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c2:hover{
    margin-top: 0px;
}

.c3{
    background-image: url(../image/恋人.jpg);
    background-size: cover;
}

.c4{
   background-color: #ffee8c;
   display: flex;
   justify-content: center;
   align-items: center;
}

.c4:hover{
    margin-top: 0px;
}

.c5{
    background-image: url(../image/ぐるーぷ.jpeg);
    background-size: cover;
}

.c6{
   background-color: #C1FFB6;
   display: flex;
   justify-content: center;
   align-items: center;
}

.c6:hover{
    margin-top: 0px;
}

.group_chat_text{
    display: flex;
    align-items: center;
}

.group_chat_text img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px 30px 5px 0px;
}

/* 吹き出しコピペ */
.balloon1-left {
  position: relative;
  display: inline-block;
  /* margin: 1.5em 0 1.5em 15px; */
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 3px;
}

.balloon1-left:before {
  content: "";
  position: absolute;
  top: 65%;
  left: -20px;
  margin-top: -15px;
  border: 10px solid transparent;
  border-right: 10px solid #e0edff;
}

.balloon1-left p {
  margin: 0;
  padding: 0;
}
